<section class="stepper">
  <ng-container *ngIf="orientation === 'horizontal'; else verticalTemplate">
    <ul class="stepper--wrapper">
      <ng-container *ngFor="let step of steps; let i = index">
        <ng-container *ngIf="!step.completed && i < currentStep; else complete">
          <li
            class="stepper--incomplete--item"
            [ngClass]="{
              'current-item': i === currentStep,
              completed: i < currentStep
            }"
          >
            <div class="stepper--incomplete--line" *ngIf="i > 0">
              <div
                class="stepper--incomplete--progress"
                [ngClass]="{
                  'current-count': i === currentStep,
                  completed: i < currentStep
                }"
              ></div>
            </div>
            <div
              class="stepper--incomplete--count"
              [ngClass]="{
                'current-count': i === currentStep,
                completed: i < currentStep
              }"
              (click)="goToStep(i)"
            >
              <span *ngIf="i >= currentStep">{{ i + 1 }}</span>
              <svg
                width="11"
                height="10"
                viewBox="0 0 11 10"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="invalid-mark"
              >
                <g clip-path="url(#clip0_766_1079)">
                  <path
                    d="M5.56185 3.63637V5.34091M1.33322 6.87546C0.93958 7.55728 1.43185 8.40909 2.21867 8.40909H8.90503C9.6914 8.40909 10.1837 7.55728 9.79049 6.87546L6.44776 1.08091C6.05412 0.399095 5.06958 0.399095 4.67594 1.08091L1.33322 6.87546ZM5.56185 6.70455H5.56503V6.70819H5.56185V6.70455Z"
                    stroke="#FF0000"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_766_1079">
                    <rect
                      width="10"
                      height="9.09091"
                      fill="white"
                      transform="translate(0.56189)"
                    />
                  </clipPath>
                </defs>
              </svg>
            </div>
            <div class="stepper--incomplete--title">
              <span *ngIf="showSteps" class="stepper--incomplete--title--step"
                >Step {{ i + 1 }}</span
              >
              <p class="stepper--incomplete--title--label">{{ step.label }}</p>
              <span class="stepper--incomplete--title--step"
                >Incomplete information</span
              >
            </div>
          </li>
        </ng-container>
        <ng-template #complete>
          <li
            class="stepper--item"
            [ngClass]="{
              'current-item': i === currentStep,
              completed: i < currentStep
            }"
          >
            <div class="stepper--line" *ngIf="i > 0">
              <div
                class="stepper--progress"
                [ngClass]="{
                  'current-count': i === currentStep,
                  completed: i < currentStep
                }"
              ></div>
            </div>
            <div
              class="stepper--count"
              [ngClass]="{
                'current-count': i === currentStep,
                completed: i < currentStep
              }"
              (click)="goToStep(i)"
            >
              <span *ngIf="i >= currentStep">{{ i + 1 }}</span>
              <svg
                *ngIf="i < currentStep"
                width="18"
                height="13"
                viewBox="0 0 18 13"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="check-mark"
              >
                <path
                  d="M17 1L6 12L1 7"
                  stroke="black"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="stepper--title">
              <span *ngIf="showSteps" class="stepper--title--step"
                >Step {{ i + 1 }}</span
              >
              <p class="stepper--title--label">{{ step.label }}</p>
            </div>
          </li>
        </ng-template>
      </ng-container>
    </ul>
  </ng-container>

  <ng-template #verticalTemplate>
    <ul class="stepper--wrapper--vertical">
      <ng-container *ngFor="let step of steps; let i = index">
        <ng-container
          *ngIf="!step.completed && i < currentStep; else completeVertical"
        >
          <li
            class="stepper--incomplete--item--vertical"
            [ngClass]="{
              'current-item': i === currentStep,
              completed: i < currentStep
            }"
          >
            <div
              class="stepper--incomplete--title--vertical"
              [ngClass]="{ incomplete: !step.completed && i < currentStep }"
            >
              <span
                *ngIf="showSteps"
                class="stepper--incomplete--title--vertical--step"
                [ngClass]="{ incomplete: !step.completed && i < currentStep }"
                >Step {{ i + 1 }}</span
              >
              <p
                class="stepper--incomplete--title--vertical--label"
                [ngClass]="{
                  'no-step': !showSteps,
                  incomplete: !step.completed && i < currentStep
                }"
              >
                {{ step.label }}
              </p>
              <span
                *ngIf="!step.completed && i < currentStep"
                class="stepper--incomplete--title--vertical--info"
                >Incomplete information</span
              >
            </div>
            <div class="stepper--incomplete--line-count">
              <div class="stepper--incomplete--line--vertical" *ngIf="i > 0">
                <div
                  class="stepper--incomplete--progress--vertical"
                  [ngClass]="{
                    'current-count': i === currentStep,
                    completed: i < currentStep
                  }"
                ></div>
              </div>
              <div
                class="stepper--incomplete--count--vertical"
                [ngClass]="{
                  'current-count': i === currentStep,
                  completed: i < currentStep
                }"
                (click)="goToStep(i)"
              >
                <span *ngIf="i >= currentStep">{{ i + 1 }}</span>
                <svg
                  *ngIf="i < currentStep"
                  width="11"
                  height="10"
                  viewBox="0 0 11 10"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="invalid-mark-vertical"
                >
                  <g clip-path="url(#clip0_766_1079)">
                    <path
                      d="M5.56185 3.63637V5.34091M1.33322 6.87546C0.93958 7.55728 1.43185 8.40909 2.21867 8.40909H8.90503C9.6914 8.40909 10.1837 7.55728 9.79049 6.87546L6.44776 1.08091C6.05412 0.399095 5.06958 0.399095 4.67594 1.08091L1.33322 6.87546ZM5.56185 6.70455H5.56503V6.70819H5.56185V6.70455Z"
                      stroke="white"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_766_1079">
                      <rect
                        width="10"
                        height="9.09091"
                        fill="white"
                        transform="translate(0.56189)"
                      />
                    </clipPath>
                  </defs>
                </svg>
              </div>
            </div>
          </li>
        </ng-container>
        <ng-template #completeVertical>
          <li
            class="stepper--item--vertical"
            [ngClass]="{
              'current-item': i === currentStep,
              completed: i < currentStep
            }"
          >
            <div class="stepper--title--vertical">
              <span *ngIf="showSteps" class="stepper--title--vertical--label"
                >Step {{ i + 1 }}</span
              >
              <p
                class="stepper--label--vertical"
                [ngClass]="{ 'no-step': !showSteps }"
              >
                {{ step.label }}
              </p>
            </div>
            <div class="stepper--line-count">
              <div class="stepper--line--vertical" *ngIf="i > 0">
                <div
                  class="stepper--progress--vertical"
                  [ngClass]="{
                    'current-count': i === currentStep,
                    completed: i < currentStep
                  }"
                ></div>
              </div>
              <div
                class="stepper--count--vertical"
                [ngClass]="{
                  'current-count': i === currentStep,
                  completed: i < currentStep
                }"
                (click)="goToStep(i)"
              >
                <span *ngIf="i >= currentStep">{{ i + 1 }}</span>
                <svg
                  *ngIf="i < currentStep"
                  width="18"
                  height="13"
                  viewBox="0 0 18 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="check-mark"
                >
                  <path
                    d="M17 1L6 12L1 7"
                    stroke="black"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
          </li>
        </ng-template>
      </ng-container>
    </ul>
  </ng-template>
</section>
