@import "../../../styles.scss";

.btn {
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  padding: $base-padding-sm $base-padding-lg;
  font-size: $base-font-size;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;

  &:hover {
    transform: translateY(-1px);
    box-shadow: $shadow-2;
  }

  &:active {
    transform: translateY(0) scale(0.98);
    box-shadow: $shadow-1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &--danger {
    background-color: $color-danger;
    @include adaptive-text-color($color-danger);

    &:hover {
      background-color: darken($color-danger, 10%);
    }
    &:active {
      background-color: darken($color-danger, 25%);
    }
  }

  &--info {
    background-color: $color-info;
    @include adaptive-text-color($color-info);

    &:hover {
      background-color: darken($color-info, 10%);
    }
    &:active {
      background-color: darken($color-info, 25%);
    }
  }

  &--primary {
    background-color: $color-primary;
    @include adaptive-text-color($color-primary);

    &:hover {
      background-color: lighten($color-primary, 15%);
    }
    &:active {
      background-color: lighten($color-primary, 10%);
    }
  }

  &--secondary {
    background-color: $color-secondary;
    color: $color-light;

    &:hover {
      background-color: darken($color-secondary, 10%);
    }
    &:active {
      background-color: darken($color-secondary, 25%);
    }
  }

  &--success {
    background-color: $color-success;
    @include adaptive-text-color($color-success);

    &:hover {
      background-color: darken($color-success, 10%);
    }
    &:active {
      background-color: darken($color-success, 25%);
    }
  }

  &--warning {
    background-color: $color-warning;
    @include adaptive-text-color($color-warning);

    &:hover {
      background-color: darken($color-warning, 10%);
    }
    &:active {
      background-color: darken($color-warning, 25%);
    }
  }

  &:disabled {
    background-color: $color-gray-6;
    color: $color-light;
    cursor: not-allowed;

    &:hover,
    &:active {
      background-color: $color-gray-6;
      transform: none;
      box-shadow: none;
    }
  }

  &--sm {
    padding: $padding-vertical-small $padding-horizontal-small;
    font-size: $font-size-small;
  }

  &--normal {
    padding: $padding-vertical-medium $padding-horizontal-medium;
    font-size: $font-size-medium;
  }

  &--lg {
    padding: $padding-vertical-large $padding-horizontal-large;
    font-size: $font-size-large;
  }
}
